
:root{
  --background: #F0F0F0;
  --button-background: #F0F0F0;

  --shadow: #bdbdbd;

  --secondary-text-color: #9E9E9E;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0 
  
}

.App {
  text-align: center;
  box-shadow: 2px 2px 10px grey;

  width: 95%;
  max-width: 510px;
  padding: 0.5em 0.5em 0.5em;

  margin: 1em auto;

  background-color: var(--background);
}



.title-heading{
  margin: 0;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;

  border-bottom: 3px solid var(--shadow); 
}

.title-heading p{
  margin: 0.5em 0;
  color: var(--secondary-text-color);
}















/* MAP CONTAINER */


.map-container {
  margin: 1em auto;

  width: 500px;
  
}

iframe {
  border: none;
  width: 100%;
  height: 500px;
}







/* INTERFACE */

.year-interface{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  text-align: left;
  padding: 0.5em 0 0.5em;
  border-top: 3px solid var(--shadow);
  border-bottom: 1px dashed var(--shadow);
}

.year-selector{
  display: inline-block;
  width: 5em;

  background-color: var(--button-background);
  border-radius: 1px;
  margin: 0.25em;

  cursor: pointer;

  font-size: 0.75em;
  text-align: center;
}

.year-selector:hover{
  animation-name: year-hover;
  animation-duration: 0.07s;
  animation-fill-mode: forwards;
}

@keyframes year-hover{
  from{
    box-shadow: none;
  }
  to{
    box-shadow: 2px 2px 5px var(--shadow);
  }
}

.selected-true{
  font-weight: 600;
}

.selected-false{
  color: var(--secondary-text-color);
  font-weight: 300;
}







/* FOOTER */

.notes-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--secondary-text-color);
  margin: 0.5em 0 0;

  font-size: 0.75em;
}

.note-footer a{
  color: #83BDD3;
}

.author-footer{
  text-align: left;
}

.source-footer{
  text-align: right;
}